<h1>To Do List</h1>
<h2>Add a new task to your list</h2>

<form action="/tasks" method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="name">Name: </label>
  <input type="text" name="task[name]" id="name">

  <label for="content">Content: </label>
  <input type="text" name="task[content]" id="content">

  <label for="status">Status: </label>
  <input type="text" name="task[status]" id="status">

  <input type="submit">
</form>
